* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 92%;
    max-width: 1200px;
    margin: 20px auto 0;
}

footer {
    background-color: rgb(215, 0, 0);
    color: white;
    padding: 8px 0 8px 18px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(175, 0, 0);
    color: white;
    padding: 10px 0 10px 18px;
}

h2 {
    background-color: rgb(215, 0, 0);
    color: white;
    padding: 8px 0 8px 18px;
}

h3 {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 6px 0 6px 18px;
}

p {
    padding: 8px 0 8px 18px;
}